@model WebApplicationmonPremierApp.Models.Parcours

@{
    ViewBag.Title = "ModifParcours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ModifParcours</h2>


@using (Html.BeginForm(actionName: "ModifParcours", controllerName: "Parcours", method: FormMethod.Post))
{
    <div class="form-group">
        <label class="col-md-2">Numéro</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Id, "Siasir un nombre valide", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Nom</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nom, "Le nom est requis", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Slogan</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Slogan, new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Logo</label>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Logo, new { @class = "form-control" })

        </div>
    </div>
    <!--summit-->
    <div class="form-group">
        <input type="submit" class="btn btn-danger col-md-offset-4" />
    </div>

}